@page
@model Snackis2.Pages.PrivateMessagesModel
@{
}

<h1>Privata Meddelande</h1>

<form method="post">
    <div>
        <label asp-for="NewMessages.Text">Meddelande</label>
        <textarea asp-for="NewMessages.Text" class="form-control"></textarea>
    </div>
    <div>
        <label asp-for="NewMessages.SendTo">Välj mottagare</label>

        <!--en dropdown lista av alla användare så att man kan välja en av dem-->
        <select asp-for="NewMessages.SendTo" class="form-control">

            <option value="">Välj den du vill skicka meddelande till</option> <!--utan denna kommer en användare vara förvald-->
            <!--loppar igenom alla användare-->
            @foreach (var user in Model.Users)
            {
                <option value="@user.Id">@user.UserName</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Skicka</button>
</form>

<div class="container mt-5">
    <h2 class="mb-4">Mottagna meddelanden</h2>
    @if (Model.Messages != null)
    {
        @foreach (var message in Model.Messages)
        {
            var sender = await Model._userManager.FindByIdAsync(message.SendFrom);

            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Från: @sender.UserName</h5>
                    <p class="card-text">@message.Text</p>
                </div>
            </div>
        }
    }
    else
    {
        <div class="alert alert-info" role="alert">
            Inga mottagna meddelanden.
        </div>
    }
</div>