@page
@model Snackis2.Pages.ReportedPostsModel
@{
    ViewData["Title"] = "Rapporterade inlägg";
}

<div class="container mt-5">
    <h2 class="mb-4">Rapporterade inlägg</h2>
    @foreach (var report in Model.ReportedPost)
    {
        var user = await Model._userManager.FindByIdAsync(report.UserId);

        <div class="card mb-3">
            <div class="card-body">
                <p class="card-text"><strong>Rapporterad:</strong> @report.ReportDate?.ToString("yyyy-MM-dd HH:mm:ss")</p>
                <p class="card-text"><strong>Av:</strong> @user.UserName</p>
                @if (report.Post != null)
                {
                    <p class="card-text"><strong>Rapporterad inlägg:</strong> @report.Post.Header</p>
                    <p class="card-text"><strong>Innehållet:</strong> @report.Post.Text</p>
                }
            </div>
        </div>
    }
</div>