.logo {
    max-width: 200px;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 2.5em;
}

@media (max-width: 768px) {
    .header h1 {
        font-size: 2em;
    }
}

.user-pfp {
    width: 50px;
    height: 50px;
}

.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header {
    padding: 10px;
    border-bottom: none;
}

.card-footer {
    padding: 10px;
}

.form-control {
    margin-bottom: 10px;
}
